static
dist
/coverage
/es
/lib
/node_modules
/umd
npm-debug.log*
stories/data
widget/crosscheck.egg-info
widget/js/node_modules
widget/js/dist
crosscheck-widget.*.zip
notebooks/data/liar_dataset/json
notebooks/data/clickbait/json
notebooks/data/ner/json
notebooks/**/data
notebooks/twenty-newsgroups/.ipynb_checkpoints
*.css
notebooks/raft/.ipynb_checkpoints
widget/crosscheck_widget.egg-info
widget/build
